/*  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px 0;
  }
  
  h2 {
    text-align: center;
    margin: 10px 0;
  }
  
  p {
    margin: 10px 0;
    text-align: center;
  }
*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  text-align: center;
}

p {
  margin: 10px 0;
  text-align: center;
  display: block;
}

